h1{
    color: red;
    font-family: "Broadway BT";
    font-weight: bold;
    border: 1px #336699 solid;
}

h2{
    color: #0000CC;
    font-family: "ParkAvenue BT";
    font-weight: bold;
    border: 3px #669900 double;
}